@use '../../index.scss' as index;

.container {
    margin: 0 auto;
    max-width: 1200px;

    h2 {
        font-size: 27px;
    }

    .containerDiv {
        margin: 0 auto;
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;

        .clearAll {
            all: unset;
            font-size: 18px;
            border: 1px solid index.$base-color;
            border-radius: 20px;
            padding: 3px 10px;
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                background-color: index.$base-color;
                color: white;
            }
        }
    }

    .cardsOfFavorites {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 35px;
        margin: 0 auto;
        max-width: 1200px;
        margin-top: 20px;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
}
