.container {
    margin: 0 auto;
	// width: 85%;
    max-width: 1200px;
	
	h2 {
        font-size: 27px;
		padding-top: 15px;
	}
    
	div {
        margin: 0 auto;
        max-width: 1024px;
        display: flex;
		justify-content: space-between;
		align-items: center;
        // padding: 15px;
		.clearAll {
			all: unset;
			font-size: 18px;
			border: 1px solid rgb(87, 87, 151);
			border-radius: 20px;
			padding: 3px 10px;
			transition: .3s;

			&:hover {
				cursor: pointer;
				background-color: rgb(87, 87, 151);
				color: white;
			}
		}
	}


	.cardsOfFavorites {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 35px;
		margin: 0 auto;
        max-width: 1200px;
		// width: 85%;
		margin-top: 20px;
		padding: 0 15px;
		margin-bottom: 30px;
		// border: 1px solid black;
	}
}

@media  screen and (max-width: 767px) {
	h2 {
		text-align: center;
	}
}