@use '../../index.scss' as index;

.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;

    h1 {
        text-align: center;
    }

    h2 {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        all: unset;
        padding: 10px 20px;
        border: 2px solid var(--base-color);
        border-radius: 30px;
        margin-bottom: 20px;
    }

    select {
        all: unset;
        padding: 10px 20px;
        border: 2px solid var(--base-color);
        color: black;
        border-radius: 30px;
        margin-bottom: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('../../../public/img/arrow-down.png'); /* Путь к вашему изображению стрелочки */
        background-repeat: no-repeat;
        background-position: 98% center;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            all: unset;
            color: white;
            background-color: var(--base-color);
            border-radius: 30px;
            max-width: 200px;
            padding: 15px 35px;
            margin-top: 20px;
            font-weight: 500;
            transition: 0.3s;
            margin-bottom: 20px;

            &:hover {
                cursor: pointer;
                background-color: white;
                outline: 1px solid var(--base-color);
                color: var(--base-color);
            }
        }
    }
}
