// @use '../../index.scss' as index;

.card {
    width: 210px;
    height: 260px;
    padding: 20px;
    padding-top: 0px;
    background-color: rgb(237, 237, 241);
    box-shadow: 0 0 7px 5px rgb(213, 213, 213);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    transition: 0.4s;

    &:hover {
        box-shadow: 0 0 10px 5px rgb(174, 174, 174);
    }

    img {
        width: 150px;
        height: 150px;
        // margin: 0 auto;
    }

    h4 {
        padding-bottom: 20px;
        font-weight: 400;
    }

    h5 {
        font-size: 20px;
    }

    h4,
    h5 {
        margin: 0;
    }

    .btnsContainer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
    }

    .addInBuy {
        // margin-top: 10px;
        padding: 7px 25px;
        // background-color: index.$base-color;
        background-color: var(--base-color);
        color: white;
        border: none;
        border-radius: 20px;
        font-size: 15px;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            background-color: white;
            // color: index.$base-color;
            color: var(--base-color);
            // outline: 1px solid index.$base-color;
            outline: 1px solid var(--base-color);
            transform: scale(102%);
            box-shadow: 0 0 10px 5px rgb(218, 218, 218);
        }
    }

    .addInFavorite {
        font-size: 25px;
        transition: 0.3s;
        // color: index.$base-color;
        color: var(--base-color);
        &:hover {
            cursor: pointer;
            color: rgb(255, 39, 75);
        }
    }

    .addInCart {
        font-size: 25px;
        transition: 0.3s;
        // color: index.$base-color;
        color: var(--base-color);
        &:hover {
            cursor: pointer;
            color: rgb(156, 158, 12);
        }
    }
}
