@use '../../index.scss' as index;

.container {
    margin: 20px;
}

.header {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: index.$base-color;
    border-radius: 50px;
    z-index: 1;

    h2 {
        font-size: 25px;
        color: white;
    }

    i {
        font-size: 25px;
        color: white;
        transition: 0.3s;
    }

    div {
        position: relative;
    }

    .spanForCart {
        position: absolute;
        padding: 1px 5px;
        background-color: rgb(255, 149, 0);
        border-radius: 50px;
        font-size: 10px;
        right: 25px;
        bottom: 0;
        font-weight: 500;
        animation: 0.2s any;
    }

    @keyframes any {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .firstIcon {
        margin-left: 30px;
    }

    .secondIcon {
        margin-right: 30px;
    }

    .iconsContainer {
        display: flex;
        gap: 20px;
    }

    .iconContent {
        position: relative;
        &:hover {
            cursor: pointer;
            i {
                cursor: pointer;
                color: rgb(202, 202, 202);
            }
        }
    }

    .spanForFavorites {
        position: absolute;
        padding: 1px 5px;
        background-color: rgb(255, 149, 0);
        border-radius: 50px;
        font-size: 10px;
        right: -4px;
        bottom: 0;
        font-weight: 500;
        animation: 0.2s any;
    }

    .links {
        all: unset;
    }

    i:hover {
        cursor: pointer;
        color: rgb(202, 202, 202);
    }
}
