@use '../../index.scss' as index;

.header {
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: index.$base-color;
    border-radius: 50px;
    z-index: 1;

    h2 {
        font-size: 25px;
        color: white;
    }

	i {
		font-size: 25px;
		color: white;
		transition: 0.3s;
	}

	div {
		position: relative;
	}

	span {
		position: absolute;
		padding: 1px 5px;
		background-color: rgb(255, 149, 0);
		border-radius: 50px;
		font-size: 10px;
		right: 12px;
		bottom: 0;
		font-weight: 500;
		animation: .2s any;
	}

	@keyframes any {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

    .firstIcon {
        margin-left: 30px;
    }

    .secondIcon {
        margin-right: 30px;
    }

    i:hover {
        cursor: pointer;
		color: rgb(202, 202, 202);
    }
}
