.container {
    max-width: 1024px;
    margin: 70px auto;
    background-color: var(--base-color);
    color: white;
    border-radius: 50px;

    @media screen and (max-width: 1085px) {
        margin: 70px 15px;
    }

    @media screen and (max-width: 645px) {
        // column-gap: 25px;
        // flex-direction: column;
        max-width: 250px;
        margin: 40px auto;
        text-align: center;
    }

    .developers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        padding: 10px 45px;

        @media screen and (max-width: 720px) {
            // column-gap: 25px;
            flex-direction: column;
            gap: 10px;
        }

        @media screen and (max-width: 645px) {
          row-gap: 15px;
        }

        h2 {
            margin: 0;
        }

        div {
            display: flex;
            column-gap: 50px;
            // flex-direction: column;

            @media screen and (max-width: 720px) {
                column-gap: 25px;
            }

            @media screen and (max-width: 645px) {
                // row-gap: 5px;
                flex-direction: column;
            }

            .developer {
                display: flex;
                flex-direction: column;
                
                @media screen and (max-width: 645px) {
                    padding-bottom: 15px;
                }

                h3 {
                    margin-top: 0;
                    margin-bottom: 3px;
                }
    
                ul {
                    display: flex;
                    justify-content: center;
                    column-gap: 15px;
                    li {
                        all: unset;
    
                        a {
                            all: unset;
    
                            i {
                                color: white;
                                font-size: 25px;

                                &:hover {
                                    color: rgb(202, 202, 202);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
