.container {
    width: 1024px;
    margin: 0 auto;
    border: 2px solid var(--base-color);
    color: var(--base-color);
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 50px;

    @media screen and (max-width: 1085px) {
        width: 95%;
    }

    @media screen and (max-width: 645px) {
        width: 270px;
        margin-top: 17px;
    }

    .developers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        padding: 10px 45px;

        @media screen and (max-width: 645px) {
            row-gap: 15px;
            flex-direction: column;
        }

        h2 {
            margin: 0;
            font-size: 20px;
        }

        div {
            display: flex;
            column-gap: 50px;

            @media screen and (max-width: 720px) {
                column-gap: 25px;
            }

            @media screen and (max-width: 645px) {
                flex-direction: column;
            }

            .developer {
                display: flex;
                flex-direction: column;

                @media screen and (max-width: 645px) {
                    padding-bottom: 15px;
                }

                h3 {
                    margin-top: 0;
                    margin-bottom: 3px;
                    font-size: 16px;
                }

                ul {
                    display: flex;
                    justify-content: center;
                    column-gap: 15px;

                    li {
                        list-style: none;

                        a {
                            all: unset;

                            i {
                                color: var(--base-color);
                                font-size: 22px;
                                transition: 0.3s;
                                padding: 5px;

                                &:hover {
                                    cursor: pointer;
                                    transform: scale(125%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
